div.vilu {
    background: rgb(161, 23, 23);
    color: #1c438a;
    border: dotted 2px;  
    width: 100px;
    height: 100px;
}
.h1 {
    font-size: 20px;
}
.p {
    font-size: 12px;
    color: green;
}
body {
    background-color: black;
    color: white;
}
.ul {
    list-style-type: square;
}
.ol {
    list-style-type: lower-alpha;
}