div.vilu {
    background: rgb(161, 23, 23);
    color: #1c438a;
    border: dotted 2px;  
    width: 100px;
    height: 100px;
}
.h1 {
    font-size: 60px;
    color: rgb(9, 12, 190);
    padding: 10px;
    background-color: blanchedalmond;
    border-radius: 8px;
    margin: 100px;
}
.p {
    font-size: 60px;
    color: rgb(9, 12, 190);
    padding: 10px;
    background-color: blanchedalmond;
    border-radius: 8px;
    margin: 100px;
}
.ul {
    list-style-type: square;
}
.ol {
    list-style-type: lower-alpha;
}
body {
        margin-left: auto;
        margin-right: auto;
        background: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/a7aad847436637.56080409ddf10.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
img {
    height: 100px;
}
header {
text-align: center;
padding-block: 10px;
font-size: 20px;
background-color: blanchedalmond;
}
nav {
background-color: blue;
width: 20%;
height: 600px;
float: left;
}
section {
width: 80%;
height: 600px;
float: left;
background-color: rgb(16, 31, 167);
}
nav ul {
    list-style-type: none;
    float: left;
}
nav a {
    float: left;
    text-decoration: none;
}

}